$color_white_pure: #FFF;
$color_black_pure: #000;
$color_ebony_clay: #22313F;
$color_steel_blue: #4B77BE;
$color_porcelain: #ECF0F1;
$color_gossip: #87D37C;
$color_monza: #CF000F;
$color_carrara: #F2F1EF;
$color_lightning_yellow: #F5AB35;
$color_burnt_orange: #D35400;
$color_peter_river: #3498DB;