@import "constants";

location {
	border: 1px solid $color_ebony_clay;
	text-align: center;
	
	.location-section  {
		width: 50%;
		height: 100px;
		box-sizing: border-box;
		background-color: $color_porcelain;
		display: inline-block;
		border: 10px solid transparent;
	
		&.location-section-highlighted {
			border-color: $color_peter_river;
		}
				
		button {
			width: 100%;
			height: 100%;		
		}
		
		&:nth-child(1) button {
			background-color: $color_steel_blue;
		}
		
		&:nth-child(2) button {
			background-color: $color_lightning_yellow;
		}
		
		&:nth-child(3) button {
			background-color: $color_carrara;
		}
		
		&:nth-child(4) button {
			background-color: $color_burnt_orange;
		}
		
		&:nth-child(5) button {
			background-color: $color_gossip;
		}
		
		&:nth-child(6) button {
			background-color: $color_monza;
		}
	}
}