@import "constants";
	
monitor-type {
    display: flex;
    justify-content: center;
    
	figure {
		position: relative;
		width: 50vw;
		height: 50vh;
		margin: 0;
	}
}	

.monitor-panel {
	display: flex;
	justify-content: space-between;
	padding: 5%;
}