@import "constants";
	
monitor-type {
    display: flex;
    justify-content: center;
    
	figure {
		position: relative;
		width: 60vw;
		height: 50vh;
		margin: 0;
	}
}	

.monitor-panel {
	display: flex;
	justify-content: space-between;
	padding: 5%;
	flex-grow: 1;
}

.location-navigation {
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
	
	location {
		margin-top: 10px;
	}
}
