@import "constants";
	
sidebar {
	padding: 20px 0;
	background: $color_ebony_clay;
	
	a {
		color: $color_white_pure;
		display: block;
		padding: 10px;
		text-transform: uppercase;
		text-decoration: none;
	    font-size: 14px;
		    
		&:visited {
			color: $color_white_pure;
		}
	
		&:hover {
			background: $color_steel_blue;
		}
	
		&.sidebar-active {
		    background: #1BA39C;
		}
	}
}

